<div class="page">
  <h1>Menus</h1>
  <div class="cards">
    <% @menus.each do |menu| %>
      <%= link_to menu_path(menu) do %>
        <div class="card-category" style="background-color: #EC058E">
          <h2><%= menu.name %></h2>
        </div>
      <% end %>
    <% end %>
    </div>
    <%= link_to new_menu_path, class: "btn btn-flat" do %>
      New menu
    <% end %>
  </div>

</div>
