<div class="page">
  <div class="recipes-index">
    <h2>Good morning, <%= current_user.email %></h2>
    <p>
      Please edit your profile
    </p>

    <div class="utilities-container">
      <div>
        <h3>Your Menus</h3>
        <p># recipes found</p>
      </div>
      <div class="recipes-searchbar">
        <%= link_to new_menu_path, class: "btn btn-flat" do %>
            New menu
        <% end %>
      </div>
    </div>

    <div class="cards">
      <% @menus.each do |menu| %>
        <%= link_to menu_path(menu) do %>
          <%= render menu %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
