// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #FFFCF5;

$black: #010400;
$blackOlive: #30332E;
$snow: #FFFBFC;
$verdigris: #62BBC1;
$hollywoodCerise: #EC058E;
$hollywoodCeriseHover: #a60064;

$main1: #F80956;
$white: white;
$textblue: #040447;
$grey: #f1f4f3;
$dark-grey: #596375;
$background-blue: #f0f1fc;
$backgroundcolor2: #231f42;
