.dashboard {
  max-width: 1250px;
  margin: auto;
}

.dashboard-content {
  display: flex;
  grid-gap: 20px;
  margin-bottom: 50px;
  color: $textblue;
}

.dashboard-left {
  width: 30%;
}

.dashboard-right {
  width: 70%;
}

.dashboard-panel {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  padding: 20px;
  color: $textblue;
}

.dashboard-favourite-recipes, .dashboard-menu-plans, .dashboard-subscription-banner {
  margin-bottom: 20px;
}

.menu-plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

.days-box {
  background-color: $backgroundcolor2;
  color: $white;
  padding: 3px 10px;
  border-radius: 5px;
}

.recipes-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.card-menu {
  border:  solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.menu-plan-container {
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.social-media-icon {
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  background-color: $grey;
  margin-right: 10px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .dashboard {
    margin: 0 15px;
  }

  .dashboard-content {
    display: block;
  }

  .dashboard-left {
    margin-bottom: 20px;
  }

  .dashboard-left, .dashboard-right {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .dashboard {
    margin: 0 20px;
  }

  .dashboard-content {
    display: block;
  }

  .dashboard-left {
    margin-bottom: 20px;
  }

  .dashboard-left, .dashboard-right {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .dashboard {
    margin: 0 30px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .dashboard {
    margin: auto 30px;
  }

  .dashboard-content {
    display: flex;

  }

  .dashboard-left {
    width: 30%;
  }

  .dashboard-right {
    width: 70%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .dashboard {
    margin: auto;
  }

  .dashboard-left {
    width: 30%;
  }
  .dashboard-right {
    width: 70%;
  }
}
