.home-page {
  height: calc(100vh -70px);
  position: fixed;
  top: 0;
  padding-top: 70px;
  width: 100%;

}

.home-page h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
}

.home-page p {
  opacity: .7;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.highlight {
  color: $main1;
  text-decoration: underline;
}

.home-content {
  max-width: 625px;
  margin: auto 0 auto auto;

  p {
    font-size: 1.2rem;
  }
}

.home-inner-container {
  position: relative;
  background-position: cover;
  height: calc(75vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-inner-container.left {
  margin: auto;
  width: 100%;
}

.home-inner-container.right {
  max-width: 625px;
  margin: auto auto auto 0;
  width: 100%;
  display: flex;
  justify-content: right;
}

.get-started-container {
  display: flex;
  align-items: center;
}

#landing-graphic {
  margin-right: 0;
  height: 90%;
  width: auto;
}

#play-video {
  height: 50px;
  padding-left: 20px;
}

.how-it-works-container {
  display: flex;
  align-items: center;
}

#how-it-works {
  margin-bottom: 0;
  padding-left: 10px;
  color: $main1;
  opacity: 1;
  text-decoration: underline;
}

.home-container-lower {
  height: 25vh;

}

.trusted-users {
  display: flex;


  p {
    margin: 0;
  }
}
#apple-google-store {
  height: 50px;
}

.trusted-users-content {
  margin: auto;
  padding-left: 20px;
}

.avatar-container {
  margin: auto 0;

  p {
    margin-bottom: 10px;
  }
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}




// Smallest device
@media (min-width: 100px) {
  .home-content {
    margin: auto;
  }

  .home-container {
    grid-template-columns: 1fr;
  }

  .home-inner-container.left {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .get-started-container {
    justify-content: center;
  }

  .home-inner-container.right {
   display: none;
  }

  .home-container-lower {
    text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-container-lower {
    padding-left: 0;
  }

  .home-content {
    margin: auto;
  }
  .home-container {
    grid-template-columns: 1fr;
  }

  .home-inner-container.left {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .get-started-container {
    justify-content: center;
  }

  .home-inner-container.right {
    display: none;
    margin-right: 30px;
   }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {



}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-page {
    background-image: url(https://res.cloudinary.com/dfipoufmj/image/upload/v1719990967/landing_graphic_4_1_io0nin.png);
    background-size: 25vh;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
  }

  .home-content {
    margin: auto 0 auto auto;
  }

  .home-container {
    display: grid;
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    grid-template-columns: 1fr 1fr;
  }

  .home-inner-container.right {
    display: flex;
    margin-right: 30px;
  }

  .home-inner-container.left {
    text-align: left;
    margin-left: 30px;
    border-right: solid 1px rgba(255, 255, 255, 0.15);

  }

  .get-started-container {
    justify-content: left;
  }

  #landing-graphic {
    margin-right: 30px;
    height: 80%;
    width: auto;
  }

  .home-container-lower {
    padding-left: 130px;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: auto;
    text-align: left;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-inner-container.left, .home-inner-container.right {
    margin: inherit;
  }

  #landing-graphic {
    margin-right: 0;
    height: 90%;
    width: auto;
  }
}
