.home-page {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.home-page h1 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

.home-page p {
  font-size: 20px;
  opacity: .7;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-inner-container {
  border: solid black 1px;
}
#menu-card {
  height: 300px;
}
