<div class="favourites">
  <p style="color: green"><%= notice %></p>

    <h1>Your favourites collection</h1>

    <%= link_to "show your favourites list", favourite_path(@favourites.first), class: "button" %>

    <%= link_to "New favourite", new_favourite_path, class: "button" %>
</div>
