<div class="page">
  <div class="recipes-index">
    <h2>Good morning, <%= current_user.email %></h2>
    <p>
      Please edit your profile
    </p>
    <div class="dashboard-panel utilities-container">
      <div>
        <h3>Your Favourite Recipes</h3>
        <p><%= Recipe.all.length %> recipes in total</p>
      </div>
    </div>
    <div class="cards">
      <% @favourite.recipes.each do |favourite| %>
        <%= render favourite %>
      <% end %>
    </div>
  </div>
</div>
