<div class="page">
  <div class="home-page" >
    <div class="home-container">
      <div class="home-inner-container left">
        <div class="home-content">
          <h1>Effortless <span class="highlight">menu</span> planning</h1>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
          <p>Your hub for chef-curated recipes to help you organise yourself in the kitchen</p>
          <button class="btn-flat" href="/dashboard">
            GET STARTED | <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </button>
        </div>
      </div>
      <div class="home-inner-container right" >
        <img id="landing-graphic" src="https://res.cloudinary.com/dfipoufmj/image/upload/v1717373282/Landing_graphic_3_lv1wnv.png" alt="">
      </div>
    </div>
    <div class="home-container-lower">
      <%# <img id="landing-lower-circle" src="https://res.cloudinary.com/dfipoufmj/image/upload/v1716993170/circle_with_circles_w9nxjs.png" alt=""> %>
      <div class="trusted-users">
        <div class="avatar-container">
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
        <div class="trusted-users-content">
          <h5>Trusted Users</h5>
          <p>⭐️⭐️⭐️⭐️⭐️</p>
          <p>Over 13.5k happy users all over the world 🥰</p>
        </div>
      </div>
      <div class="avatar-container">
        <p>Coming soon on App Store and Google Play</p>
      </div>
    </div>
  </div>
</div>
