<div class="page">
  <div class="home-page" >
    <div class="home-container">
      <div class="home-inner-container left">
        <h1>Effortless menu planning</h1>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <p>Your hub for chef-curated recipes and guidance to execute</p>
        <button class="btn-flat" href="/dashboard">
          GET STARTED | <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </button>
      </div>
      <div class="home-inner-container right" style="background-image: url('https://res.cloudinary.com/dfipoufmj/image/upload/v1716993170/circle_with_circles_w9nxjs.png');">
        right hand side
        <img id="landing-circle" src="https://res.cloudinary.com/dfipoufmj/image/upload/v1716993170/circle_with_circles_w9nxjs.png" alt="circle with circles">
        <img id="menu-card" src="https://res.cloudinary.com/dfipoufmj/image/upload/v1716994290/landing_food_card_kiot7t.png" alt="menu card">
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
