<div class="page">
  <div class="home-page" >
    <div class="home-container">
      <div class="home-inner-container left">
        <div class="home-content">
          <h1>Effortless <span class="highlight">menu</span> planning</h1>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
          <p>Your hub for chef-curated recipes to help you organise yourself in the kitchen</p>
          <div class="get-started-container">
            <button class="btn-flat" href="/dashboard">
              GET STARTED | <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </button>
            <div class="how-it-works-container">
              <img id="play-video" src="https://res.cloudinary.com/dfipoufmj/image/upload/v1720019519/Untitled_Project_20_r6pwj2.png" alt="">
              <p id="how-it-works">How it works</p>
            </div>
          </div>
        </div>
      </div>
      <div class="home-inner-container right" >
        <img id="landing-graphic" src="https://res.cloudinary.com/dfipoufmj/image/upload/v1719992883/Landing_graphic_3_lv1wnv_c_crop_w_918_h_980_smqvts.png" alt="">
      </div>
    </div>
    <div class="home-container-lower">
      <div class="trusted-users">
        <div class="trusted-users-content">
          <h5>Trusted Users</h5>
          <p>⭐️⭐️⭐️⭐️⭐️</p>
          <p>Over 13.5k happy users all over the world 🥰</p>
        </div>
      </div>
      <div class="avatar-container">
        <p>Coming soon</p>
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1719997368/Untitled_Project_19_avszfs.png" id="apple-google-store" alt="">
      </div>
    </div>
  </div>
</div>
