<div class="home">
  <h1>Menu Mastery</h1>
  <p>Turning 'What's for dinner?' into 'Dinner is served!' because life's too short for culinary indecision.</p>
  <%= link_to "Get started", dashboard_path, class: "button" %>
</div>
