<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1711457480/development/ft2ujru7qgg1d980ej4ccr565icn.jpg);">
  <div class="container">
    <h1>Meal planning with recipes ive collected over the years</h1>
    <p>Yes it's not perfect but give me time</p>
    <a class="btn btn-flat" href="/dashboard">Get started</a>
  </div>
</div>
