.recipes-index {
  max-width: 1250px;
  margin: auto;
}

.recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.recipe-card {
  padding: 30px;
  border-radius: 5px;
}

.utilities-container {
  display: flex;
  justify-content: space-between;
}

.recipes-searchbar {
  margin: auto 0;
  display: flex;
  justify-content: right;
}

.recipe-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

}

.ingredients-container {
  display: flex;

  p {
    margin-bottom: 2px;
  }
}

#ingredient-quantity {
  text-align: right;
  padding-right: 2px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .recipes-index {
    max-width: 1250px;
    margin: 15px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .recipes-index {
    max-width: 1250px;
    margin: 20px;

  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .recipes-index {
    max-width: 1250px;
    margin: 30px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .recipes-index {
    max-width: 1250px;
    margin: 30px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .recipes-index {
    margin: auto;
    max-width: 1250px;
  }
}
