.recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.recipe-card {
  padding: 30px;
  border-radius: 5px;
}

.utilities-container {
  display: block;
  justify-content: space-between;
}
