.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  position: relative;
  top: 75px;
  z-index: 3;
  max-width: 300px;
  margin: 8px auto;
  color: $textblue;
}

.flash-success {
  border: 2px solid $main1;
}

.flash-warning {
  border: 2px solid $main1;
}

.flash-danger {
  border: 2px solid $main1;
}
