.nav-link {
  color: $white;
}


.page {
  margin: 70px auto 0 auto;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: $textblue;
}

a:hover {
  color: $main1;
}

.tag-box, .tag-box-alt {
  background: $grey;
  display: inline;
  padding: 3px;
  border-radius: 5px;
  color: $dark-grey;
  margin-right: 5px;
}

.tag-box-alt {
  background-color: $main1hover;
  color: $white;
}

.spec-subsection {
  margin-bottom: 20px;
}

@media (min-width: 100px) {
  body {
    background:
      linear-gradient(to bottom, $backgroundcolor2 450px, $background-blue 450px);
  }
}
