// .btn-flat {
//   color: $snow;
//   padding: 8px 24px;
//   border-radius: 4px;
//   background: $hollywoodCerise;
//   transition: background 0.3s ease;
//   margin: 20px 20px 0 0;

// }

// .btn-flat:hover {
//   background: $hollywoodCeriseHover;
//   color: $snow;
// }

// .btn {
//   color: $snow;
// }

.btn-flat {
  color: white;
  background-color: $main1;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-flat:hover {
  background-color: $main1hover;
}

.fa-solid {
  color: white;
}

.show-more-btn {
  text-align: right;
  margin: 20px 0 0 0;
}

.back-btn {
  color: $white;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: $background-blue-transparent;
  border: solid 1px $white;
  margin-bottom: 20px;
}

.back-btn:hover {
  color: $white;
}
