.btn-flat {
  color: $snow;
  padding: 8px 24px;
  border-radius: 4px;
  background: $hollywoodCerise;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $hollywoodCeriseHover;
  color: $snow;
}
