.card {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: $snow;
  background-position: cover;

  h3, .recipe-data {
    // font-family: 'Courier New', Courier, monospace;
    padding: 20px 10px;
  }

}

.card-category {
  height: 500px;
  // width: 400px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  background-color: $white;
}

.recipe-card-img-container {
  height: 150px;
  width: 100%;
  display: flex;
  border-radius: 5px;
  justify-content: center;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.recipe-card-content {
  // max-width: 300px;

  h3 {
    padding-top: 10px;
    color: $textblue;
  }

  p  {

    color: $textblue;
    font-size: 1rem;
  }
}

.recipe-card-image {
  height: 150px;
}

.recipe-card-tags {
  display: flex;

  .tag {
    color: $main1;
    display: inline-block;
    margin-right: 8px;
  }
}

.recipe-card-times {
  display: flex;

  .clock-icon {
    color: $main1;
  }

  .time {
    display: inline-block;
    margin-right: 8px;
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 50px 0;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
