h1 {
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;

}

h3 {
    font-size: 40px;
  font-family: 'Courier New', Courier, monospace;

}

* {
  font-family: 'Courier New', Courier, monospace;
}
